.about {
  @include pageGrid;

  &__title {
    grid-column: 1 / -1;

    @include onTablet {
      grid-column: 1 / 4;
    }

    @include onDesctop {
      grid-column: 1 / 7;
    }
  }

  &__content {
    grid-column: 1 / -1;

    @include onTablet {
      grid-column: 4 / 7;
    }

    @include onDesctop {
      grid-column: 8 / -1;
    }
  }

  &__text {
    margin: 0;

    font-weight: 400;
    letter-spacing: 0.15px;
  }
}
