.btn {
  grid-column: 1 / -1;

  @include onDesctop {
    grid-column: 1 / 5;
  }

  padding: 0.9em;
  margin-top: 40px;

  @include onTablet {
    margin-top: 56px;
  }

  font-family: inherit;
  font-weight: 700;
  font-size: 16px;
  line-height: 27px;
  text-align: center;
  color: $white;
  text-decoration: none;

  outline: none;

  border-radius: 8px;
  background-color: $orange;

  transition: background-color $effectDuration linear;

  &:hover {
    background-color: $main-text-color;
  }

  &:focus {
    background-color: $btn-color-focus;
  }

  &--form {
    margin-top: 0;
    width: 100%;

    cursor: pointer;
    border: none;
  }
}
