$effectDuration: 0.3s;
$main-text-color: #1b2129;
$orange: #f98921;
$btn-color-focus: #010810;
$white: #fff;
$input-bg-color: #f9f9f9;
$input-text-color: #7e7e83;
$input-border-color-hover: #dbdbdb;
$font-page: Manrope, sans-serif;
